body {
  padding: 150px 0;
  background-color: rgb(114, 109, 109);
  font-size: 90px;
  font-family: sans-serif;
  color: aquamarine;
}

.container {
	max-width: 1200px;
	padding: 0 15px;
	position: relative;
	margin: 0 auto;
}

.swiper-slide {
  text-align: center;
  font-size: 100px;
  font-weight: 700;
  width: 200px;
  min-height: 400px;
  background-color: rgb(55, 201, 25);
}

.swiper-pagination-bullet {
  background-color: rgb(42, 218, 36);
  width: 10px;
  height: 10px;
  margin: 0 20px;
  opacity: 1;
}

.swiper-pagination-bullet-active {
  background-color: rgb(192, 122, 30);
}

.swiper-button-next, 
.swiper-button-prev {
background-color: #fff;
width: 40px;
height: 40px;
border-radius: 100%;
background-position: center;
background-repeat: no-repeat;
background-size: 20px 20px;


/*Винос кнопок за межі слайдера*/
position: static;
}

.swiper-button-next:after, 
.swiper-button-prev:after {
  display: none;
}

.swiper-button-next {
background-image: url("../img/right-arrow.svg");
margin-left: 15px;
}

.swiper-button-prev {
background-image: url("../img/left-arrow.svg");
}

/*Винос кнопок за межі слайдера*/
.slider-top {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
}

/*Винос кнопок за межі слайдера*/
.slider-btn {
  display: flex;
  padding-left: 15px;
}

.swiper {
  overflow: hidden;
  width: 100%;
}

.swiper-wrapper {
  justify-content: space-between;
  flex-wrap: wrap;
}

.card {
	width: 20%;
	margin-right: 2.5%;
	margin-bottom: 2.5%;
}